/* nav-bar */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    
}

.nav-title {
    padding-left: 1.5rem;
}

.span-hero {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}

.span-travel {
    color: #FF5400;
    font-size: 2.4rem;
    font-weight: 800;
}


/* nav-content */
.nav-content ul{
    display: flex;
    gap: 2rem;
}

.nav-content li {
    list-style-type: none;
    
}

.nav-content .nav-content-home {
    color: #FF5400;
}

/* nav-media */
@media screen {
    
}

/* 2nd- Explore travel */

.explore-travel {
    
}

.explore-travel img {
    width: 100%;
    margin-top: 2.5rem;
    position: relative;
}

.explore-travel-content {
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;
    margin-top: 7rem;

}


.explore-travel input {
    display: inline;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 0.7rem;
}

.explore-travel-content h1 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 800;
}

.explore-travel-content p {
    color: #fff;
    font-size: 1.5rem;

}

.button-primary {
    width: 10rem;
    height: ;
    color: #fff;
    font-weight: 500;
    background-color: #FF5400;
    padding: 1rem;
    border-radius: 0.7rem;
}


@media screen {
    
}

/* populat-tour */

.popular-tour-container {
    display: flex;
    justify-content:space-between;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.popular-tour-image img {
    width: 100%;
}

.popular-tour-content {
    padding: 7rem 4rem;
}

.All-h1-tag {
    font-size: 2.5rem;
    color:#131318;
    font-weight: 800;
}
/* Your-Destination */

.Your-Destination {
    text-align: center;
}

.Your-Destination h1 {
    font-size: 2.5rem;
    color:#131318;
    font-weight: 800;
}

.Your-Destination p{
    color:#131318;
    font-size: 1.2rem;
    font-weight: 500;

}

/*Your-Destination-img  */

.Your-Destination-img img {
    width: 100%;
    height: 100%;
}

.Your-Destination-img {
    height: 25rem;
    display: flex;
    gap: 0.8rem 0.8rem;
    margin-bottom: 0.8rem;
}

.Your-Destination-img #horigental-collage img {
    width: 45% 45%;
}

/* <!-- why chose us --> */

.why-chose-us {
    text-align: center;
}

.why-chose-us h1 {
    font-size: 2.5rem;
    color:#131318;
    font-weight: 800;
}

.why-chose-us p{
    color:#131318;
    font-size: 1.2rem;
    font-weight: 500;

}

/* why chose us container */

.why-chose-us-container {
    display: flex;
    justify-content: space-around;
}

.hotel {
    height: 18rem;
    padding: 0.7rem;
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);    
}
.hotel img {
    height: 4rem;
    width: 4rem;
}
.map {
    height: 18rem;
    padding: 0.7rem;
    background: rgba(41, 206, 246, 0.05);
    border:1px solid rgba(41, 206, 246, 0.20);
}
.map img {
    width: 4rem;
    height: 4rem;
}

.parcentage {
    text-align: center;
    margin-top: 2.5rem;
    height: 18rem;
    width: 36rem;
    margin-left: 25rem;
    background: rgba(41, 206, 246, 0.05);
    border:1px solid rgba(41, 206, 246, 0.20);
}
.parcentage img {
    width: 4rem;
    height: 4rem;
}

/* Deals & Dicount */

.Deals-Discount {
    text-align: center;
}

.Deals-Discount h1 {
    font-size: 2.5rem;
    color:#131318;
    font-weight: 800;
}

.Deals-Discount p{
    color:#131318;
    font-size: 1.2rem;
    font-weight: 500;
}

/* Tour To Satorini */

.Tour-Satorini{
    position: relative;
    margin-bottom: 2.5rem;
}
.Tour-Satorini img {
    width: 100%;
    margin-top: 2.5rem;
    position: relative;
}

.Tour-Satorini-content {
    position: absolute;
    top: 20%;
    right: 1%;
    color: #131318;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-top: 7rem;
    padding: 1rem;
    border-radius: 0.8rem;

}

.Tour-Satorini-content h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

.Tour-Satorini-content p {
    font-size: 1.5rem;

}

.button-primary-satorini {
    width: 10rem;
    font-weight: 500;
    background-color: #FF5400;
    padding: 1rem;
    border-radius: 0.7rem;
}

.Tour-Satorini-content-span {
    color: #FF5400;
    font-weight: 800;
}

/* tour malborne-beach */

.Tour-melborne{
    position: relative;
    margin-bottom: 2.5rem;
}
.Tour-melborne img {
    width: 100%;
    margin-top: 2.5rem;
    position: relative;
}

.Tour-melborne-content {
    position: absolute;
    top: 20%;
    left: 1%;
    color: #131318;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-top: 7rem;
    padding: 1rem;
    border-radius: 0.8rem;

}

.Tour-melborne-content h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

.Tour-melborne-content p {
    font-size: 1.5rem;

}

.button-primary-melborne {
    width: 10rem;
    font-weight: 500;
    background-color: #FF5400;
    padding: 1rem;
    border-radius: 0.7rem;
}

.Tour-melborne-content-span {
    color: #FF5400;
    font-weight: 800;
}

/* tour california beach */

.Tour-california {
    position: relative;
    margin-bottom: 2.5rem;
}

.Tour-california img {
    width: 100%;
    margin-top: 2.5rem;
    position: relative;
}

.Tour-california-content {
    position: absolute;
    top: 20%;
    right: 1%;
    color: #131318;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-top: 7rem;
    padding: 1rem;
    border-radius: 0.8rem;

}

.Tour-california-content h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

.Tour-california-content p {
    font-size: 1.5rem;

}

.button-primary-california {
    width: 10rem;
    font-weight: 500;
    background-color: #FF5400;
    padding: 1rem;
    border-radius: 0.7rem;
}

.Tour-california-content-span {
    color: #FF5400;
    font-weight: 800;
}

/* All Package button  */
.all-package p{
    width: 10rem;
    font-weight: 500;
    background-color: #FF5400;
    padding: 0.7rem;
    border-radius: 0.7rem;
    margin-left: 36rem;
}


/* parfect place */


.parfect-place-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.parfect-tour-video video {
    width: 100%;
}

.parfect-place-content {
    padding: 7rem 4rem;
}

.parfect-h1-tag {
    font-size: 2.5rem;
    color:#131318;
    font-weight: 800;
}

.button-primary-parfect-place {
    width: 10rem;
    font-weight: 500;
    background-color: #FF5400;
    padding: 1rem;
    border-radius: 0.7rem;
}

/*newsletter-container  */

.Newsletter-container {
    display: flex;
    justify-content: space-around;
}

.Newsletter-image-container {
    position: relative;
}

.Newsletter-image-container img{
    position: relative;
    width: 100%;
}

.Newsletter-image-content {
    position: absolute;
    bottom: 3%;
    right: 1%;
    font-weight: 500;
    background-color: #FF5400;
    padding: 1rem;
    border-radius: 0.7rem;

}

.Newsletter-div {
    background: rgba(41, 206, 246, 0.05);
    border:1px solid rgba(41, 206, 246, 0.20);
    padding: 0 2rem;
}

.Newsletter-div input{
    display: block;
    gap: 1.5rem;
    padding: 0.8rem;
    border-radius: 0.7rem;
    margin-top: 0.7rem;
}

.Newsletter-div h1 {
    color: #131318;
    font-size: 3.5rem;
    font-weight: 800;
}

.Newsletter-div p {
    color: #131318;
    font-size: 1.5rem;

}

.button-subscribe {
    width: 10rem;
    color: #fff;
    font-weight: 500;
    background-color: #FF5400;
    padding: 1rem;
    border-radius: 0.7rem;
    margin-top: 0.7rem;
}

/* footer */

.footer {
    height: 15rem;
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
    margin-top: 2.5rem;
    padding: 7rem 0;
}

.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-title {
    padding-left: 1.5rem;
}

.span-hero1 {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}

.span-travel2 {
    color: #FF5400;
    font-size: 2.4rem;
    font-weight: 800;
}

.footer-paragraph p {
    text-align: center;
    color: #131318;
    font-weight: 500;
}

.social-containet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    gap: 0.7rem;
}

.copyright p {
    text-align: center;
    color: #131318;
    font-weight: 500;
    padding-top: 2.5rem;
}


@media screen and (max-width: 576px) {
    .nav-container,
    .popular-tour-container,
    .Your-Destination-img,
    .why-chose-us-container,
    .parfect-place-container,
    .Newsletter-container {
        flex-direction: column;
    }    
    .parcentage,
    .all-package p {
        margin-left: 0.1rem;
    }
}
